@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

a:link,
a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto, 3fr, auto;
  grid-gap: 100px;
  grid-template-areas:
    "logo . ."
    ".  form . "
    ". . ."
    ". footer .";
  justify-content: center;
}

.logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  padding: 1rem;
}

.form-container {
  grid-area: form;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(8, auto);
  grid-template-areas:
    "heading heading"
    "subheading subheading"
    "firstName lastName"
    "email email"
    "password password"
    "finePrint finePrint"
    "button button"
    "login login";
  justify-items: stretch;

  &__heading {
    grid-area: heading;
    justify-self: center;
    margin-bottom: 0.2rem;
  }

  &__subheading {
    grid-area: subheading;
    justify-self: center;
    margin-top: 0.2rem;
  }

  &__firstName {
    grid-area: firstName;
  }

  &__lastName {
    grid-area: lastName;
  }

  &__email {
    grid-area: email;
  }

  &__password {
    grid-area: password;
  }

  &__finePrint {
    grid-area: finePrint;
  }

  &__signUp-btn {
    grid-area: button;
  }

  &__login-text {
    grid-area: login;
  }
}

.footer {
  grid-area: footer;

  &__links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    list-style: none;
    justify-items: center;
  }

  &__credit {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    grid-template-areas: "copyright design background";
    justify-items: center;
    grid-gap: 20px;
  }

  &__copyright {
    grid-area: copyright;
  }

  &__design-credit {
    grid-area: design;
  }

  &__background-img {
    grid-area: background;
  }
}
