@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background-image: url(images/office-workers.jpg);
  background-size: cover;
  background-position: center;
}

a:link,
a:active {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: auto, 3fr, auto;
      grid-template-rows: auto, 3fr, auto;
  grid-gap: 5px;
      grid-template-areas: "form" "footer";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: form;
  margin: 5rem 0 10rem 0;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 1rem;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: logo;
      justify-self: center;
  padding: 1rem;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
      grid-template-areas: "logo logo" "heading heading" "subheading subheading" "firstName lastName" "email email" "password password" "finePrint finePrint" "button button" "login login";
  justify-items: stretch;
}

.form__heading {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heading;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 0.2rem;
}

.form__subheading {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: subheading;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 0.2rem;
}

.form__firstName {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: firstName;
  margin: 0.5rem 1rem 0.5rem 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form__lastName {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: lastName;
  margin: 0.5rem 20rem 0.5rem 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form__email {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
  margin: 0.5rem 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form__password {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: password;
  margin: 0.5rem 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form__finePrint {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: finePrint;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0.5rem 20rem;
}

.form__terms, .form__privacy {
  color: #000 !important;
  font-weight: bold;
}

.form__signUp-btn {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: button;
  margin: 0.5rem 30rem;
  padding: 1.3rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.form__login-text {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: login;
  -ms-grid-column-align: center;
      justify-self: center;
}

.form__login-link {
  color: #000 !important;
  font-weight: bold;
}

.form ::-webkit-input-placeholder {
  font-size: 1rem;
}

.form ::-ms-input-placeholder {
  font-size: 1rem;
}

.form ::-moz-input-placeholder {
  font-size: 1rem;
}

.form ::-webkit-input-placeholder {
  font-size: 1rem;
}

.form :-ms-input-placeholder {
  font-size: 1rem;
}

.form ::-ms-input-placeholder {
  font-size: 1rem;
}

.form ::placeholder {
  font-size: 1rem;
}

.footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
  margin: 0 15rem;
  font-size: 0.8rem;
  color: #fff;
}

.footer__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  list-style: none;
  justify-items: center;
}

.footer__credit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "copyright design background";
  justify-items: center;
  grid-gap: 20px;
}

.footer__copyright {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: copyright;
}

.footer__design-credit {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: design;
}

.footer__background-img {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: background;
}
/*# sourceMappingURL=style.css.map */